@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

body{
    font-family: 'Open Sans', sans-serif;
    background: #f5f7fa;
}

.navbar{
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;

    height: 4em;
    /* -webkit-box-shadow: 0 8px 6px -6px #222;
    -moz-box-shadow: 0 8px 6px -6px #222;
    box-shadow: 0 8px 6px -6px #222; */
}

#addentry{
    /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%); */
    /* color: #fff; */
    border-radius: 0.75rem;
    background-color: transparent;
}

.card{
    border-radius: 0.75rem;
    border: 0px;
    background: #fff;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}

.card:hover{
    box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}

.table{
    font-size: 16px;
    text-align: left;
}

.table th,
.table td {
    padding: 0.2rem;
  border-top: 0px;
}

.amount{
    text-align: right;
}

.sales{
    text-align: right;
}

.total{
    color: #aaa;
}

.wsales{
    font-weight: bold;
}

#wcashtable, #wsalestable{
    font-size: 14px;
}

/* #wcashtable{
    color: #fff;
}

#wsalestable{
    color: #fff;
} */

#wsalestable > tbody > tr > td:nth-child(2){
    text-align: right;
}

#wcashtable > tbody > tr > td:nth-child(3){
    text-align: right;
}

#wcashtable > tbody > tr > td > input{
    font-size: 12px;
    height: 1.5em;
    width: 5em;
    padding:2px;
}

.delete-row{
    cursor: pointer;
    background: transparent;
}